name: Deploy to cPanel (FTPS)

on:
  push:
    branches: ["main"]

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ftp.rezwoan.me
          username: hostel-management-system@hostel-management-system.rezwoan.me
          password: hostel-management-system
          protocol: ftps
          port: 21
          local-dir: ./
          server-dir: hostel-management-system.rezwoan.me/
          exclude: |
            .git/**
